html{
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}
input[type="file"] {
    opacity: 0;
}
.main{
    width: 100vw;
    height: 94vh;
    display: grid;
    place-content: center;
}
.content{
    width: 400px;
    height: 400px;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    display: grid;
    place-content: center;

}
.upload{
    width: 300px;
    height: 260px;
    background-color: white;
    .upload__header{
        width: 100%;
        height: 50px;
        border-block-end: 1px solid rgba(128, 128, 128, 0.567);
        h2{
            width: 100%;
            height: 100%;
            color: #676767;
            font-size: 1.6rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .upload__content{
        width: 100%;
        height: 210px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .upload__icon{
            width: 93px;
            height: 73px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px rgba(128, 128, 128, 0.567) dashed;
            cursor: pointer;
            p{
                max-width: 100%;
                max-height: 100%;
                padding: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                
            }
        }
        .upload__btn{
            border: none;
            width: 136px;
            height: 41px;
            background-color: #83CC32;
            color: white;
            font-size: 1.4rem;
            font-weight: 400;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            position: relative;
            &:hover{
                box-shadow: 1px 2px 6px 2px rgb(122, 221, 102);

            }
            .upload__btn--file{
                width: 100%;
                height: 100%;
                

            }
            &::before{
                content: "Upload file";
                position: absolute;

                height: auto;
                opacity: 1;

                left: 0;
                right: 0;
                bottom: 13px;
                margin: auto;
            }
        }
    }

}